<header>
<ul id="dropdown1" class="dropdown-content">	  
	  <li><%= link_to "Mi Perfil", edit_user_registration_path %></li>
	  <li><a href="#">Mis cursos</a></li>
	  <li class="divider"></li>
	  <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
	</ul>

	<ul id="dropdown2" class="dropdown-content">
	  <li><%= link_to "Mi Perfil", edit_user_registration_path %></li>
	  <li><a href="#!">Mis cursos</a></li>
	  <li class="divider"></li>
	  <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>	
	</ul>
		<nav class="blue lighten-4 z-depth-2">
			<div class="container">
		    	<div class="nav-wrapper">
		      		<a href="#!" class="brand-logo">Iniciación IPN</a>
		      		<a href="#" data-activates="mobile-demo" class="button-collapse">
		      			<i class="material-icons">menu</i>
		      		</a>
		      		<ul class="right hide-on-med-and-down">
		        		<li><a href="#">Cursos</a></li>
		        		<% if(!user_signed_in?) %>
		        		<li><%= link_to "Registrarse", new_user_registration_path %></li>
		        		<li><%= link_to "Ingresar", new_user_session_path %></li>		        		
		        		<% else %>		        		
		        		<li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1">
		        		<%= image_tag avatar_url(current_user), class: "circle responsive-img" %>&nbsp;
		        		<%= current_user.name%>
		        		<i class="material-icons right">keyboard_arrow_down</i></a></li>
		        		<% end %>	        		
		      		</ul>
		      		<ul class="side-nav" id="mobile-demo">
		        		<li><a href="#">Cursos</a></li>
		        		<% if(!user_signed_in?) %>
		        		<li><%= link_to "Registrarse", new_user_registration_path %></li>
		        		<li><%= link_to "Ingresar", new_user_session_path %></li>		        		
		        		<% else %>
		        		<li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown2">
		        		<%= image_tag avatar_url(current_user), class: "circle responsive-img" %>&nbsp;
		        		<%= current_user.name%>
		        		<i class="material-icons right">keyboard_arrow_down</i></a></li>
		        		<% end %>
		      		</ul>
		    	</div>
	    	</div>
	  	</nav>
	</header>